body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.outside{
    height: 70%;
    width: 70%;
    background-color: lightcyan;
    
}
.title{
    background-color: cyan;
    height: 6vh;
    text-align: center;
    position: fixed;
    width: inherit;
    z-index: 1;
}
.title span{
  line-height: 3rem;
  font-weight: 3rem;
  font-size: 3em;
  text-shadow: hotpink 1px 5px 5px ;
}

.list{
    margin-top: 50px;
}
dt{
    background: lightgoldenrodyellow;
    height: 4vh;
    position: sticky;
    top: 50px;
    font-size: 25px;
}
